In [ ]:
%pip install -i https://test.pypi.org/simple/ --extra-index-url=https://pypi.org/simple azure-datalake-utils==0.2.0.dev23

In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
%pip uninstall azure-datalake-utils -y

Found existing installation: azure-datalake-utils 0.2.0.dev23
Uninstalling azure-datalake-utils-0.2.0.dev23:
  Successfully uninstalled azure-datalake-utils-0.2.0.dev23
Note: you may need to restart the kernel to use updated packages.

In [1]:
%pip show azure-datalake-utils

WARNING: Package(s) not found: azure-datalake-utils
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sys

import pandas as pd

sys.path.append('../')

In [4]:
from azure_datalake_utils import Datalake

In [5]:
dl = Datalake.from_account_key('datalakeanaliticabi', 
"mbnAZLLqJYIg2RwC6jUxtsgPIr+sOJJNhhevfGzqi6Y3+kZjC6v0hIVchjlY/ajkWwO8jjY5uXWqBcrEl7F8lA==")

In [6]:
df = pd.DataFrame({"foo_str": ['bar\n', 'foo,', 'bar|'], "bar_str": ["bar", "foo|", "bar\r"], "foo": [1, 2, 3]})

In [9]:
dl.write_csv(df, 'hacebanalitica-user-cientificos/prueba/test.csv', sep='|')

In [8]:
test = dl.read_csv('hacebanalitica-user-cientificos/prueba/*.csv', header = None)

In [9]:
test = dl.read_csv('hacebanalitica-curated-ventas/ventas/haceb/ventas/ventas_2022.csv', sep=';')

/home/german/repos/azure-datalake-utils/docs/../azure_datalake_utils/azure_datalake_utils.py:80: DtypeWarning: Columns (11,15,16,17,38,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"az://{ruta}", storage_options=self.storage_options, **kwargs)

In [11]:
test.head()

,NdeFactur,ClasedeFactura,DescripcionFactura,Clase de Pedido,Descripcion ClasePedido,CodigoMaterial,NombreMaterial,Cantidad,EstadodeContabilizacion,CodigoPagador,...,Oficina de Ventas,Descripción Oficina de Ventas,Margen,Sociedad,Org Ventas,Grupo de Comisiones,Descripción Grupo de Comisiones,Descripción Nivel Privilegio,Email_ZPOS,Habeas_Data
0,107T1471,ZSCP,Factura de Venta,ZSCI,Ped POS Contado EI,2,SERVICIO CALIFICADO,"0,5",C,800104,...,OF02,Centro,"10000,0",1000,1000,60,SAC,NaN,NaN,NaN
1,107T1472,ZSCP,Factura de Venta,ZSCI,Ped POS Contado EI,496,INSTALACION GRATUITA,"1,0",C,800104,...,OF02,Centro,"10000,0",1000,1000,60,SAC,NaN,,"2,0"
2,107T1472,ZSCP,Factura de Venta,ZSCI,Ped POS Contado EI,1001849,CODO CALLE 1/2' GALVANIZADO,"1,0",C,800104,...,OF02,Centro,"5129,0",1000,1000,50,Repuestos y Accesori,NaN,,"2,0"
3,107T1472,ZSCP,Factura de Venta,ZSCI,Ped POS Contado EI,1005211,MANGUERA ESPIRAL ENCAUCHADA 36,"1,0",C,800104,...,OF02,Centro,"5792,0",1000,1000,50,Repuestos y Accesori,NaN,,"2,0"
4,101T370,ZSCP,Factura de Venta,ZSCI,Ped POS Contado EI,1006119,BIMETALICO FSTB NEV 611 SE RD21,"1,0",C,800104,...,OF02,Centro,"6534,0",1000,1000,50,Repuestos y Accesori,NaN,NaN,NaN

In [12]:
test = dl.read_csv('hacebanalitica/raw/sap/ztsd_clientepos/load_date=2022-05-04/ztsd_clientepos.csv', sep='|')

/home/german/repos/azure-datalake-utils/docs/../azure_datalake_utils/azure_datalake_utils.py:80: DtypeWarning: Columns (10,16,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"az://{ruta}", storage_options=self.storage_options, **kwargs)

In [14]:
test.head()

,MANDT,FITYP,STCDT,STCD1,KUNNR,ANRED,NAME1,STREET,CITY1,COUNTRY,...,ERNAM,AEDAT,AEZET,UNAM,IN_CLISAP,CSTCNDGRP1,ZSD_HABEASDATA,TRANSPZONE,LANDX,KTOKD
0,300,PN,13,632453,632453,Señor(a),GUSTAVO PARRA,CR 45 A 80 SUR 75,MEDELLIN,CO,...,LUISZAP,2018.03.28,07:31:51,LUISZAP,2,,1,5001,,
1,300,PN,13,63311387,63311387,Señor(a),ALMANZAR SANCHEZ,CORDOBA,MEDELLIN,CO,...,LUISZAP,2018.03.28,07:31:51,LUISZAP,2,,1,5001,,
2,300,PN,13,6819796,6819796,Señor(a),FERNANDO BOTERO,CR 81 B 7 A 49,MEDELLIN,CO,...,LUISZAP,2018.03.28,07:31:51,LUISZAP,2,,1,5001,,
3,300,PN,13,70030346,70030346,Señor(a),ALBERTO LONDONO,CLIENTE TRNASPORTA,MEDELLIN,CO,...,LUISZAP,2018.03.28,07:31:51,LUISZAP,2,,1,5001,,
4,300,PN,13,70040014,70040014,Señor(a),PEDRO HERNANDEZ,COTIZACION,MEDELLIN,CO,...,LUISZAP,2018.03.28,07:31:51,LUISZAP,2,,1,5001,,

In [13]:
## Interactivo

In [15]:
dl = Datalake('datalakeanaliticabi', '5368fc5a-2692-4a6a-b226-e2802e94e22b')

In [16]:
test = dl.read_csv('hacebanalitica-user-cientificos/prueba/*.csv', header = None)

In [ ]:
test = dl.read_csv('hacebanalitica/raw/sap/ztsd_clientepos/load_date=2022-05-04/ztsd_clientepos.csv', sep='|')